:root {
  --ion-background-color: #000;
  --ion-text-color: #fff;
}

.transparent-modal {
  --background: #0000005c;

  .modal-wrapper {
    backdrop-filter: blur(12px);
  }

  ion-content: {
    --background: transparent;
  }
}
